<app-dropdown [label]="'Favorite Food'" [options]="['Burger', 'Pizza']" (optionSelected)="updateFavoriteFood($event)"></app-dropdown>
<br>Selected option: {{ favoriteFood }}<br><br>
<app-dropdown [label]="'Favorite Music Genre'" [options]="['Pop', 'Rock', 'Hip-Hop']" (optionSelected)="updateFavoriteMusic($event)"></app-dropdown>
<br>Selected option: {{ favoriteMusic }}<br><br>
<app-dropdown [label]="'Favorite Country'" [options]="['Greece', 'France', 'Italy']" (optionSelected)="updateFavoriteCountry($event)"></app-dropdown>
<br>Selected option: {{ favoriteCountry }}<br><br>
